@font-face {
    font-family: minecraft;
    src: url(/static/fonts/Minecraftia-Regular.ttf);
}

@font-face {
    font-family: ffaf;
    src: url(/static/fonts/FiveFontsatFreddys-Regular.ttf);
}

:root{
    font-size: 16px;
    --dark-bg: #22223b;
    --dark-text-bg: #4A4E69;
    --dark-text-color: #F2E9E4;
    --dark-text-color-secondary: #C9ADA7;
    --dark-highlight: #fa8d76;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'ffaf';
}

body{
    background-color: var(--dark-bg);
}

/* Navigation */
.top-nav{
    display: flex;
    padding-top: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: 'minecraft';
    color: var(--dark-text-color-secondary);
    background-color: rgba(34, 34, 59, 0.2);
    border-bottom: solid var(--dark-text-color-secondary);

    animation: fade-down 1.5s;

    .left-nav p{
        font-size: 1rem;
    }

    .left-nav, .main-nav{
        animation: fade-down 1s;
    }

    .name{
        font-size: 1.9rem;
        
    }

    

    .main-nav a{
        display: inline-block;
        text-decoration: none;
        color: var(--dark-text-color-secondary);
        font-size: 1.3rem;
        margin: 0 1rem;

        transition: all 0.2s ease-out 0s;

    }
    
    .main-nav a:hover{
        transform: translateY(-3px);
        border-bottom: solid;
        color: #F2E9E4;
        
    }
    
    .contact{
        font-size: 1.2rem;
        padding-top: 5px;
        width: 20vh;
        height: 7vh;
        border-radius: 5px;
        background-color: var(--dark-highlight);
        color: var(--dark-text-bg);
        font-family: 'minecraft';
        
        transition: all 0.3s ease-out 0s;

    }
    
    .contact:hover{
        transform: translateY(-3px);
        background-color: var(--dark-highlight);
        color: white;
        scale: 1.05;
    }
}

/* Main */
main{
    display: flex;
    flex-direction: row;
    padding: 8vh 30vh;

    .left-main img{
        width: 15rem;
        border-radius: 100%;
        border: solid var(--dark-text-bg);

        animation: scale-out ease-in-out 0.5s;
    }

    .first-dialogue-box, .second-dialogue-box{
        display: inline-block;
        background-color: var(--dark-text-bg);
        border-radius: 10px;
        border: solid black;
        border-width: 0px 3px 3px 0px;
        margin: 2vh 5vh;
        padding: 2vh 10vh;
        opacity: 0;
        width: 100%;

        animation: slow-appear 2s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    

    .second-dialogue-box{
        animation-delay: 3s;
    }

    .first-dialogue, .second-dialogue{
        font-size: 1.2rem;
        color:#F2E9E4;
        white-space: nowrap;
        overflow: hidden;

        animation: typing 3s;
        animation-delay: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .second-dialogue{
        animation-delay: 3s;
    }

    .first-dialogue-box::after, .second-dialogue-box::after{
        content: '  ';
        position: absolute;
        border-left: 10px solid var(--dark-text-bg);
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        bottom: -10px;
        left: 0px;
    }
}



@keyframes fade-down {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}





/*animation for main*/
@keyframes slow-appear {
    0%{
        width: 0;
        opacity: 1;
        scale: 0;
        transform: translateY(50px);
    }
    25%{
        scale: 1;
    }
    100%{
        width: 80%;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale-out {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


@keyframes typing {
    from {
        width: 0;
    }
    to{
        width: 100%;
    }
}

