@font-face {
    font-family: minecraft;
    src: url(/static/fonts/Minecraftia-Regular.ttf);
}

@font-face {
    font-family: ffaf;
    src: url(/static/fonts/FiveFontsatFreddys-Regular.ttf);
}

:root{
    font-size: 16px;
    
}

*{
    padding: 0;
    margin: 0;
    font-family: 'ffaf';
}

body{
    background-color: #22223b;
}

/* Navigation */
.top-nav{
    display: flex;
    padding-top: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: 'minecraft';
    color: #C9ADA7;
    background-color: rgba(34, 34, 59, 0.2);
    border-bottom-style: solid;

    .left-nav p{
        font-size: 1rem;
    }

    .name{
        font-size: 1.9rem;
        
    }

    

    .main-nav a{
        display: inline-block;
        text-decoration: none;
        color: #C9ADA7;
        font-size: 1.3rem;
        margin: 0 1rem;

        transition: all 0.2s ease 0s;

    }
    
    .main-nav a:hover{
        transform: translateY(-3px);
        border-bottom: solid;
        color: #F2E9E4;
        
    }
    
    .contact{
        font-size: 1.2rem;
        padding-top: 5px;
        width: 20vh;
        height: 7vh;
        background-color: #4A4E69;
        color: #F2E9E4;
        font-family: 'minecraft';
        
        transition: all 0.3s ease 0s;

    }
    
    .contact:hover{
        transform: translateY(-3px);
        background-color: #F2E9E4;
        color: #4A4E69;
    }
}

/* Main */
main{
    display: flex;
    flex-direction: row;
    padding: 8vh 30vh;

    .left-main img{
        width: 15rem;
        border-radius: 100%;
        border: solid #4A4E69;
    }

    .first-dialogue-box, .second-dialogue-box{
        display: inline-block;
        background-color: #4A4E69;
        border-radius: 10px;
        border: solid black;
        border-width: 0px 3px 3px 0px;
        margin: 2vh 5vh;
        padding: 2vh 10vh;
        opacity: 0;
        width: 100%;

        animation: slow-appear 3s;
        animation-fill-mode: forwards;
    }

    

    .second-dialogue-box{
        animation-delay: 2s;
    }

    .first-dialogue, .second-dialogue{
        font-size: 1.2rem;
        color:#F2E9E4;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 3s;
        animation-fill-mode: forwards;
    }

    .second-dialogue{
        animation-delay: 2s;
    }

}

/*animation for main*/
@keyframes slow-appear {
    0%{
        width: 0;
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        width: 80%;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to{
        width: 100%;
    }
}
